<h1>
    Hello world handlebars
</h1>

<p>
    O nome do usuario
    {{user.name}}
    e seu sobrenome é
    {{user.surname}}
    e ele tem
    {{user.age}}
    anos
</p>

<p>
    A palavra escolhida foi
    {{palavra}}
</p>